body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornflowerblue;
}
h1{
    color:antiquewhite;
    text-align: center;
    font-size: 3em;

}
form{
    background-color: blanchedalmond;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 2em;
    font-weight: bold;
}
input{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0, 90%);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    background-color: rgba(0, 255, 200, 0.589);
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
p{
    font-size: 20px;
}
#total-amount{
    color: black;
    font-weight: bold;
}